In [1]:
import numpy as np
import pandas as pd

In [2]:
laptop_df = pd.read_csv('amaz_laptops.csv')
phone_df = pd.read_csv('amaz_phones.csv')
fridge_df = pd.read_csv('amaz_fridges.csv')
tv_df = pd.read_csv('amaz_tv.csv')
ac_df = pd.read_csv('amaz_ac.csv')
laptopf_df = pd.read_csv('flip_laptop.csv')
phonef_df = pd.read_csv('flip_phones.csv')
fridgef_df = pd.read_csv('flip_fridgess.csv')
tvf_df = pd.read_csv('flip_tv.csv')
acf_df = pd.read_csv('flip_ac.csv')
combined_df = pd.concat([laptop_df,phone_df,fridge_df,tv_df,ac_df,laptopf_df,phonef_df,fridgef_df,tvf_df,acf_df], axis=0, ignore_index=True)
combined_df.to_csv('combined_flipkart_products.csv', index=False)

In [3]:
desired_title = 'Redmi 10 Power (Power'
index_values = phone_df[phone_df['title'] == desired_title].index.tolist()
print(index_values)

[49]

In [4]:
desired_title = 'Redmi 10 Power (Power'
index_values = combined_df[combined_df['title'] == desired_title].index.tolist()
print(index_values)

[475]

In [5]:

num_rows_unique = combined_df.shape[0]
print(num_rows_unique)

12066

In [6]:
combined_df

,title,image,price,description,brand,platform,type,product_link
0,Victus Gaming Laptop AMD,https://m.media-amazon.com/images/I/71ckDfWKZ8...,"80,990","Gaming Laptop AMD Ryzen™ 7 7840HS, 40.9 cm (16...",Victus,Amazon,Laptops,/sspa/click?ie=UTF8&spc=MTozODU0MTU5MDMyMTAzMD...
1,"Laptop 15, 12th Gen",https://m.media-amazon.com/images/I/71RYak+fv6...,"36,990","15, 12th Gen i3-1215U, 15.6-inch (39.6 cm), FH...",Laptop,Amazon,Laptops,/sspa/click?ie=UTF8&spc=MTozODU0MTU5MDMyMTAzMD...
2,(Refurbished) Lenovo ThinkPad 7th,https://m.media-amazon.com/images/I/51nQX+UOPO...,"17,899",Lenovo ThinkPad 7th Gen Intel Core i5 Thin & L...,(Refurbished),Amazon,Laptops,/Refurbished-Lenovo-ThinkPad-Bluetooth-Graphic...
3,Aspire Lite 12th Gen,https://m.media-amazon.com/images/I/71czGb00k5...,"42,990",Lite 12th Gen Intel Core i5-1235U Thin and Lig...,Aspire,Amazon,Laptops,/Acer-i5-1235U-Windows-Graphics-AL15-52/dp/B0C...
4,"15 Laptop, Intel Core",https://m.media-amazon.com/images/I/61TJSzvEsQ...,"43,490","Laptop, Intel Core i5-1135G7 Processor/ 8GB/ 1...",15,Amazon,Laptops,/Dell-i5-1135G7-Processor-Spill-Resistant-Keyb...
...,...,...,...,...,...,...,...,...
12061,Blue Star Convertible 5,https://rukminim2.flixcart.com/image/312/312/x...,"₹43,990",Annual Power Usage: 770.98 kWhRoom Size: 111 -...,Blue,Flipkart,Laptops,/blue-star-convertible-5-1-cooling-2023-model-...
12062,Panasonic Convertible 7-in-1 with,https://rukminim2.flixcart.com/image/312/312/x...,"₹33,490",Annual Power Usage: 676.37 kWhRoom Size: 90 sq...,Panasonic,Flipkart,Laptops,/panasonic-convertible-7-in-1-additional-ai-mo...
12063,Blue Star Convertible 5,https://rukminim2.flixcart.com/image/312/312/x...,"₹35,789",Annual Power Usage: 1002.84 kWhRoom Size: 111 ...,Blue,Flipkart,Laptops,/blue-star-convertible-5-1-cooling-2023-model-...
12064,CANDY 2023 Model 1.5,https://rukminim2.flixcart.com/image/312/312/x...,"₹31,999",Annual Power Usage: 925.24 kWhRoom Size: 111 -...,CANDY,Flipkart,Laptops,/candy-2023-model-1-5-ton-3-star-split-inverte...
12065,MarQ by Flipkart 2024,https://rukminim2.flixcart.com/image/312/312/x...,"₹26,499",Annual Power Usage: 1075 WRoom Size: 90 sqft o...,MarQ,Flipkart,Laptops,/marq-flipkart-2024-range-1-ton-3-star-split-i...

In [7]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12066 entries, 0 to 12065
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         12066 non-null  object
 1   image         12066 non-null  object
 2   price         11574 non-null  object
 3   description   12063 non-null  object
 4   brand         12066 non-null  object
 5   platform      12066 non-null  object
 6   type          12066 non-null  object
 7   product_link  12066 non-null  object
dtypes: object(8)
memory usage: 754.3+ KB

In [8]:
combined_df.isnull().sum()

title             0
image             0
price           492
description       3
brand             0
platform          0
type              0
product_link      0
dtype: int64

In [9]:
combined_df['price'].fillna('33999', inplace=True)
combined_df['price'] = combined_df['price'].astype(str)

In [10]:
new_df = pd.concat([laptop_df,phone_df,fridge_df,tv_df,ac_df,laptopf_df,phonef_df,fridgef_df,tvf_df,acf_df], axis=0, ignore_index=True)
new_df.to_csv('new_flipkart_products.csv', index=False)
new_df['price'] = new_df['price'].astype(str)
new_df['description'] = new_df['description'].astype(str)

In [11]:
def remove_special_characters(text):
    import re
    # Replace all non-alphabetic characters and spaces with an empty string
    return re.sub(r'[^a-zA-Z0-9\s]', '', text)
new_df['price'] = new_df['price'].apply(remove_special_characters)
new_df['description'] = new_df['description'].apply(remove_special_characters)
new_df['brand'] = new_df['brand'].apply(remove_special_characters)
new_df['platform'] = new_df['platform'].apply(remove_special_characters)
new_df['type'] = new_df['type'].apply(remove_special_characters)

In [12]:
new_df

,title,image,price,description,brand,platform,type,product_link
0,Victus Gaming Laptop AMD,https://m.media-amazon.com/images/I/71ckDfWKZ8...,80990,Gaming Laptop AMD Ryzen 7 7840HS 409 cm 161inc...,Victus,Amazon,Laptops,/sspa/click?ie=UTF8&spc=MTozODU0MTU5MDMyMTAzMD...
1,"Laptop 15, 12th Gen",https://m.media-amazon.com/images/I/71RYak+fv6...,36990,15 12th Gen i31215U 156inch 396 cm FHD AntiGla...,Laptop,Amazon,Laptops,/sspa/click?ie=UTF8&spc=MTozODU0MTU5MDMyMTAzMD...
2,(Refurbished) Lenovo ThinkPad 7th,https://m.media-amazon.com/images/I/51nQX+UOPO...,17899,Lenovo ThinkPad 7th Gen Intel Core i5 Thin Li...,Refurbished,Amazon,Laptops,/Refurbished-Lenovo-ThinkPad-Bluetooth-Graphic...
3,Aspire Lite 12th Gen,https://m.media-amazon.com/images/I/71czGb00k5...,42990,Lite 12th Gen Intel Core i51235U Thin and Ligh...,Aspire,Amazon,Laptops,/Acer-i5-1235U-Windows-Graphics-AL15-52/dp/B0C...
4,"15 Laptop, Intel Core",https://m.media-amazon.com/images/I/61TJSzvEsQ...,43490,Laptop Intel Core i51135G7 Processor 8GB 1TB25...,15,Amazon,Laptops,/Dell-i5-1135G7-Processor-Spill-Resistant-Keyb...
...,...,...,...,...,...,...,...,...
12061,Blue Star Convertible 5,https://rukminim2.flixcart.com/image/312/312/x...,43990,Annual Power Usage 77098 kWhRoom Size 111 150...,Blue,Flipkart,Laptops,/blue-star-convertible-5-1-cooling-2023-model-...
12062,Panasonic Convertible 7-in-1 with,https://rukminim2.flixcart.com/image/312/312/x...,33490,Annual Power Usage 67637 kWhRoom Size 90 sqft ...,Panasonic,Flipkart,Laptops,/panasonic-convertible-7-in-1-additional-ai-mo...
12063,Blue Star Convertible 5,https://rukminim2.flixcart.com/image/312/312/x...,35789,Annual Power Usage 100284 kWhRoom Size 111 15...,Blue,Flipkart,Laptops,/blue-star-convertible-5-1-cooling-2023-model-...
12064,CANDY 2023 Model 1.5,https://rukminim2.flixcart.com/image/312/312/x...,31999,Annual Power Usage 92524 kWhRoom Size 111 150...,CANDY,Flipkart,Laptops,/candy-2023-model-1-5-ton-3-star-split-inverte...
12065,MarQ by Flipkart 2024,https://rukminim2.flixcart.com/image/312/312/x...,26499,Annual Power Usage 1075 WRoom Size 90 sqft or ...,MarQ,Flipkart,Laptops,/marq-flipkart-2024-range-1-ton-3-star-split-i...

In [13]:
new_df['tags'] = new_df['title']+new_df['description']+new_df['brand']+new_df['type']
new_df.head()
new_df['platform']

0          Amazon
1          Amazon
2          Amazon
3          Amazon
4          Amazon
           ...
12061    Flipkart
12062    Flipkart
12063    Flipkart
12064    Flipkart
12065    Flipkart
Name: platform, Length: 12066, dtype: object

In [14]:
desired_title = 'Redmi 10 Power (Power'
index_values = new_df[new_df['title'] == desired_title].index.tolist()
print(index_values)

[475]

In [15]:
index_value = new_df[new_df['title'] == 'Redmi 10 Power (Power'].index.tolist()
print(index_value)

[475]

In [16]:
new_df = new_df[['title','description','brand','platform','type','tags']]

In [17]:
# result_df = new_df[new_df['title'] == 'Infinix Y1 Plus Neo']
# print(result_df)

In [18]:
# print(new_df.iloc[0])

In [19]:
# print(new_df.iloc[37])

In [20]:
# import pandas as pd

# # Assuming you have a DataFrame named 'df'
# # df = pd.DataFrame({...})

# # Check for duplicate rows
# duplicate_rows = new_df[new_df.duplicated()]

# # Display the duplicate rows
# print("Duplicate Rows except first occurrence:")
# print(duplicate_rows)
# print(len(

# # If you want to keep only the first occurrence of each duplicate row, you can use the keep parameter
# # For example:
# # df_no_duplicates = df.drop_duplicates(keep='first')

# # If you want to keep only the last occurrence of each duplicate row, you can use keep='last'
# # For example:
# # df_no_duplicates = df.drop_duplicates(keep='last')

In [21]:
# import pandas as pd

# # Assuming you have a DataFrame named 'df'
# # df = pd.DataFrame({...})

# # Remove duplicate rows and keep only the first occurrence
# df_2 = new_df.drop_duplicates(keep='first')

# # Display the DataFrame without duplicates
# print(df_2)
# print(len(df_2))

In [22]:
# import pandas as pd

# # Assuming you have a DataFrame named 'df' with a column named 'id'
# # df = pd.DataFrame({...})

# # Identify duplicate rows based on the 'id' column
# duplicate_mask = new_df.duplicated(subset=['title'], keep='first')

# # Extract duplicate rows and original rows using boolean indexing
# duplicate_rows = new_df[duplicate_mask]
# original_rows = new_df[~duplicate_mask]

# # Display duplicate rows
# print("Duplicate Rows:")
# print(duplicate_rows)

# # Display original rows
# print("\nOriginal Rows:")
# print(original_rows)

In [23]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [24]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [25]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\tvoma\AppData\Local\Temp\ipykernel_5332\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [26]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\tvoma\AppData\Local\Temp\ipykernel_5332\3612689905.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [27]:
new_df['tags']

0        victu game laptop amdgam laptop amd ryzen 7 78...
1        laptop 15, 12th gen15 12th gen i31215u 156inch...
2        (refurbished) lenovo thinkpad 7thlenovo thinkp...
3        aspir lite 12th genlit 12th gen intel core i51...
4        15 laptop, intel corelaptop intel core i51135g...
                               ...
12061    blue star convert 5annual power usag 77098 kwh...
12062    panason convert 7-in-1 withannu power usag 676...
12063    blue star convert 5annual power usag 100284 kw...
12064    candi 2023 model 1.5annual power usag 92524 kw...
12065    marq by flipkart 2024annual power usag 1075 wr...
Name: tags, Length: 12066, dtype: object

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [29]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [30]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [31]:
cv.get_feature_names_out()

array(['01', '02', '04', ..., 'zone', 'zones164tv', 'zoneshisensetv'],
      dtype=object)

In [32]:
from sklearn.metrics.pairwise import cosine_similarity

In [33]:
cosine_similarity(vectors).shape

(12066, 12066)

In [34]:
similarity = cosine_similarity(vectors)

In [35]:
similarity[449]

array([0.        , 0.        , 0.11605177, ..., 0.        , 0.        ,
       0.        ])

In [36]:
# def recommend(title):
#     product_index = new_df[new_df['title']==title].index[0]
#     distances = similarity[product_index]
#     product_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:90]

#     for i in product_list:
#         print(i[0],new_df.iloc[i[0]].title,combined_df.iloc[i[0]].price,combined_df.iloc[i[0]].image,combined_df.iloc[i[0]].product_link,new_df.iloc[i[0]].brand,new_df.iloc[i[0]].platform)
        
# def recommend(title):
#     product_index = new_df[new_df['title'] == title].index[0]
#     distances = similarity[product_index]
#     product_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:90]
    
#     for i in product_list:
#         if i[1] < 1:  # Change the threshold as needed
#             if(new_df.iloc[i[0]].image != image and combined_df.iloc[i[0]].price):
#                   print(i[0], new_df.iloc[i[0]].title, combined_df.iloc[i[0]].price,
#                   combined_df.iloc[i[0]].image, combined_df.iloc[i[0]].product_link,
#                   new_df.iloc[i[0]].brand, new_df.iloc[i[0]].platform)
def recommend(title, num_products=50):
    product_index = new_df[new_df['title'] == title].index[0]
    distances = similarity[product_index]
    product_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:90]

    unique_products = set()
    count = 0

    for i in product_list:
        product_details = combined_df.iloc[i[0]].description

        # Check if the product details are not already in the set
        if product_details not in unique_products:
            unique_products.add(product_details)
            print(i[0], new_df.iloc[i[0]].title, combined_df.iloc[i[0]].price, combined_df.iloc[i[0]].image, combined_df.iloc[i[0]].product_link, new_df.iloc[i[0]].brand, new_df.iloc[i[0]].platform)
            count += 1

            if count >= num_products:
                break



# Usage
# recommended_products = recommend("Your Product Title", top_n=20)
# for product in recommended_products:
#     print(product)

# from flask import Flask,jsonify
# def recommend(title):
#     top_n = 100
#     product_index = new_df[new_df['title'] == title].index[0]
#     distances = similarity[product_index]
#     product_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:90]

#     result = []
#     unique_products = set()
#     count = 0

    # for i in product_list:
    #     if count >= top_n:
    #         break

    #     product_details = combined_df.iloc[i[0]].description

    #     # Check if the product details are not already in the set
    #     if product_details not in unique_products:
    #         product_details = combined_df.iloc[i[0]].description
    #         # Add the product details to the set to ensure uniqueness
    #         unique_products.add(product_details)
    #         count += 1
    #         temp = {
    #             "index" : i[0],
    #             "title" : new_df.iloc[i[0]].title,
    #             "price" : combined_df.iloc[i[0]].price,
    #             "image" : combined_df.iloc[i[0]].image,
    #             "product_link": combined_df.iloc[i[0]].product_link,
    #             "brand" : new_df.iloc[i[0]].brand,
    #             "platform" : new_df.iloc[i[0]].platform,
    #             #"description" : new_df.iloc[i[0]].description
    #         }
    #         print(temp)
    #         result.append(temp)

    # ans = {
    #     "recommended_products": result
    # }        
    # #return jsonify(ans)

In [37]:
recommend("Haier 165 L 1")

983 Haier 165 L 1 10,990 https://m.media-amazon.com/images/I/51LGKnrcXCL._AC_UY218_.jpg /sspa/click?ie=UTF8&spc=MToyMjQ5MTI1NzUyNDQwMDE5OjE3MDU3ODA4Mjk6c3BfYnRmOjMwMDA2Nzg2OTQ0MTQzMjo6MDo6&url=%2FHaier-Direct-Single-Refrigerator-HED-171RS-P%2Fdp%2FB0BTHLCK15%2Fref%3Dsr_1_102_sspa%3Fcrid%3D2W72KX37PBXF%26keywords%3Dfridges%26qid%3D1705780829%26sprefix%3D%252Caps%252C311%26sr%3D8-102-spons%26sp_csd%3Dd2lkZ2V0TmFtZT1zcF9idGY%26psc%3D1 Haier Amazon
895 165 L 1 Star 10,990 https://m.media-amazon.com/images/I/51LGKnrcXCL._AC_UY218_.jpg /sspa/click?ie=UTF8&spc=MTo2NzIxOTI1MzIzMzkzMDE5OjE3MDU3ODA4MjQ6c3BfYnRmOjMwMDA2Nzg2OTQ0MTQzMjo6MDo6&url=%2FHaier-Direct-Single-Refrigerator-HED-171RS-P%2Fdp%2FB0BTHLCK15%2Fref%3Dsr_1_38_sspa%3Fcrid%3D2W72KX37PBXF%26keywords%3Dfridges%26qid%3D1705780824%26sprefix%3D%252Caps%252C311%26sr%3D8-38-spons%26sp_csd%3Dd2lkZ2V0TmFtZT1zcF9idGY%26psc%3D1 165 Amazon
861 Haier 190 L 5 15,290 https://m.media-amazon.com/images/I/51FkYi5cLeL._AC_UY218_.jpg /Haier-Direct-Refrigerator-HRD-2203BS-Brushline/dp/B08KH7VF4Q/ref=sr_1_10?crid=2W72KX37PBXF&keywords=fridges&qid=1705780823&sprefix=%2Caps%2C311&sr=8-10 Haier Amazon
963 Haier 190 L 4 14,490 https://m.media-amazon.com/images/I/51YoxGAgWoL._AC_UY218_.jpg /sspa/click?ie=UTF8&spc=MToyMjQ5MTI1NzUyNDQwMDE5OjE3MDU3ODA4Mjk6c3BfYXRmX25leHQ6MzAwMDY3ODY5NDQxNTMyOjowOjo&url=%2FHaier-Direct-Single-Refrigerator-HED-204DS-P%2Fdp%2FB0BTHLMS39%2Fref%3Dsr_1_82_sspa%3Fcrid%3D2W72KX37PBXF%26keywords%3Dfridges%26qid%3D1705780829%26sprefix%3D%252Caps%252C311%26sr%3D8-82-spons%26sp_csd%3Dd2lkZ2V0TmFtZT1zcF9hdGZfbmV4dA%26psc%3D1 Haier Amazon
883 175 L 2 Star 11,676 https://m.media-amazon.com/images/I/61TMs6hqh-L._AC_UY218_.jpg /Haier-Direct-Single-Refrigerator-HED-182ME-N/dp/B0BTHKBVRD/ref=sr_1_26?crid=2W72KX37PBXF&keywords=fridges&qid=1705780824&sprefix=%2Caps%2C311&sr=8-26 175 Amazon
887 190 L 4 Star 14,490 https://m.media-amazon.com/images/I/51YoxGAgWoL._AC_UY218_.jpg /Haier-Direct-Single-Refrigerator-HED-204DS-P/dp/B0BTHLMS39/ref=sr_1_30?crid=2W72KX37PBXF&keywords=fridges&qid=1705780824&sprefix=%2Caps%2C311&sr=8-30 190 Amazon
892 190 L 5 Star 16,490 https://m.media-amazon.com/images/I/81TMW0cVF6L._AC_UY218_.jpg /Haier-Direct-Single-Refrigerator-HED-205MFB-P/dp/B0BTHLGZ1Q/ref=sr_1_35?crid=2W72KX37PBXF&keywords=fridges&qid=1705780824&sprefix=%2Caps%2C311&sr=8-35 190 Amazon
970 Haier 215L 5 Star 18,990 https://m.media-amazon.com/images/I/81H6dLlFeJL._AC_UY218_.jpg /Haier-Inverter-Refrigerator-Appliance-HED-225RFB-P/dp/B0C23J45GP/ref=sr_1_89?crid=2W72KX37PBXF&keywords=fridges&qid=1705780829&sprefix=%2Caps%2C311&sr=8-89 Haier Amazon
1121 188L 1 Star Single 14,490 https://m.media-amazon.com/images/I/41rbs9d6UeL._AC_UY218_.jpg /Voltas-Beko-Single-Direct-Refrigerator/dp/B0C3MV69LC/ref=sr_1_198?crid=2W72KX37PBXF&dib=eyJ2IjoiMSJ9.XXKSxcAI_Qr3RZGwhCD35I5al9hqowbsQjzVYkfwKbLhHzR87kbqyMUbqU88GKRPsjF96yx3XWmYQQSS5fYs57oLj_darV1rZVBXSRkc7UGC8l4398AuS2gCw2qYgGAWkBhmncKN4AnE8OoEG4TW6usdjLTz2mabTjrJF1XadW99QdguJ6U4-PiwUgkA58uCihJIDbOAN0LiS3sz33-yow1xNYU-iuZYjxrdn2LZZvo.zVP_Ien76qATv6EsPhUyeLYvL2pw0rPHLNMIcMFAxR4&dib_tag=se&keywords=fridges&qid=1705780837&sprefix=%2Caps%2C311&sr=8-198 188L Amazon
1130 200L 3 Star Single 15,790 https://m.media-amazon.com/images/I/41ZfwwBXVxL._AC_UY218_.jpg /Voltas-Beko-Refrigerator-RDC220C54-XWEXXXXXG/dp/B0C4LZRPHZ/ref=sr_1_207?crid=2W72KX37PBXF&dib=eyJ2IjoiMSJ9.XXKSxcAI_Qr3RZGwhCD35I5al9hqowbsQjzVYkfwKbLhHzR87kbqyMUbqU88GKRPsjF96yx3XWmYQQSS5fYs57oLj_darV1rZVBXSRkc7UGC8l4398AuS2gCw2qYgGAWkBhmncKN4AnE8OoEG4TW6usdjLTz2mabTjrJF1XadW99QdguJ6U4-PiwUgkA58uCihJIDbOAN0LiS3sz33-yow1xNYU-iuZYjxrdn2LZZvo.zVP_Ien76qATv6EsPhUyeLYvL2pw0rPHLNMIcMFAxR4&dib_tag=se&keywords=fridges&qid=1705780837&sprefix=%2Caps%2C311&sr=8-207 200L Amazon
987 192 L 2 Star 13,300 https://m.media-amazon.com/images/I/71ZJ4WcJgoL._AC_UY218_.jpg /Samsung-Refrigerator-RR20A11CBRH-HL-SCARLET/dp/B08SVXJY5L/ref=sr_1_100?crid=2W72KX37PBXF&dib=eyJ2IjoiMSJ9.CzJq9yNO2bZ8cAo44acFw8YmOOaWGnc-E3O_oPiV4sq3CyAY7trHdmj84440p1JTbDWPiFcrAve7gF__HcDpp4WuPd8xzxvyTWjNDPpuMQIhBU7Jwx_f1Mk-qKRr1yQAjuJhGrr_T089mOdiuhO6p4yeeFyqccbbbwW1d0TkQ3m0gFO_koYDdtFdhor4qGRtK8b4ESTBNtGv3lEu0DsoBh80r6eTx-3PeupOJ_wpKyA.yPJYJIgFEGuBdwHvAwi3yt781W39eFumyuHW0cqGq5I&dib_tag=se&keywords=fridges&qid=1705780830&sprefix=%2Caps%2C311&sr=8-100 192 Amazon
898 180 L 5 Star 15,590 https://m.media-amazon.com/images/I/71T-TPBD83L._AC_UY218_.jpg /Godrej-Refrigerator-EDGENEO-207E-THF/dp/B0CGZYMNQP/ref=sr_1_35?crid=2W72KX37PBXF&dib=eyJ2IjoiMSJ9.ZUIMy6qYiolbIhbxxpmBBZEyAGgEPwHt2L9MsBkcZQ3zHM6FxtxbztppbddB0x_rYR6j2Cl1jV3U-eJMjkx6GxBkEefGvKo-iH6yU2P6EJTomKuvapK9zkx-aXwOomgOoRNaOisPPqRPXa626xuv7U-VtwbEV8RmP5idsBaTBZ61VFcAyVvL10MClLIOg5Er83Kh-Z_T8pJWslZ8hL31a0bKNljtrBt2a6e5yyfqrd8.6bVTfdw8q7uk2oLyM_KHn-RkAlVmrPGZhrBSHHIm0mU&dib_tag=se&keywords=fridges&qid=1705780825&sprefix=%2Caps%2C311&sr=8-35 180 Amazon
949 Godrej 180 L 5 15,590 https://m.media-amazon.com/images/I/71T-TPBD83L._AC_UY218_.jpg /Godrej-Refrigerator-EDGENEO-207E-THF/dp/B0CGZYMNQP/ref=sr_1_74?crid=2W72KX37PBXF&keywords=fridges&qid=1705780827&sprefix=%2Caps%2C311&sr=8-74 Godrej Amazon
905 184 Litre 3 Star 15,449 https://m.media-amazon.com/images/I/41mIxA1tkPL._AC_UY218_.jpg /Whirlpool-Direct-Single-Refrigerator-Steel-Z/dp/B0C3D4YDZ8/ref=sr_1_42?crid=2W72KX37PBXF&dib=eyJ2IjoiMSJ9.ZUIMy6qYiolbIhbxxpmBBZEyAGgEPwHt2L9MsBkcZQ3zHM6FxtxbztppbddB0x_rYR6j2Cl1jV3U-eJMjkx6GxBkEefGvKo-iH6yU2P6EJTomKuvapK9zkx-aXwOomgOoRNaOisPPqRPXa626xuv7U-VtwbEV8RmP5idsBaTBZ61VFcAyVvL10MClLIOg5Er83Kh-Z_T8pJWslZ8hL31a0bKNljtrBt2a6e5yyfqrd8.6bVTfdw8q7uk2oLyM_KHn-RkAlVmrPGZhrBSHHIm0mU&dib_tag=se&keywords=fridges&qid=1705780825&sprefix=%2Caps%2C311&sr=8-42 184 Amazon
973 Haier 240 L 2 20,990 https://m.media-amazon.com/images/I/71n3gFbqVrL._AC_UY218_.jpg /sspa/click?ie=UTF8&spc=MToyMjQ5MTI1NzUyNDQwMDE5OjE3MDU3ODA4Mjk6c3BfbXRmOjIwMTUzMDEzNzYzMTk4OjowOjo&url=%2FHaier-Double-Refrigerator-HEF-252EGS-P-Silver%2Fdp%2FB0BTHLGVQ6%2Fref%3Dsr_1_92_sspa%3Fcrid%3D2W72KX37PBXF%26keywords%3Dfridges%26qid%3D1705780829%26sprefix%3D%252Caps%252C311%26sr%3D8-92-spons%26sp_csd%3Dd2lkZ2V0TmFtZT1zcF9tdGY%26psc%3D1 Haier Amazon
976 Haier 445 L 2 50,974 https://m.media-amazon.com/images/I/71XAp9xzmZL._AC_UY218_.jpg /Haier-Litres-Convertible-Inverter-Refrigerator/dp/B0C49LZJSG/ref=sr_1_95?crid=2W72KX37PBXF&keywords=fridges&qid=1705780829&sprefix=%2Caps%2C311&sr=8-95 Haier Amazon
889 189 L, 5 Star, 24,980 https://m.media-amazon.com/images/I/71p5BgL+QnL._AC_UY218_.jpg /Samsung-Direct-Cool-Digi-Touch-Refrigerator-RR21C2F25NJ/dp/B0BXDM2V1L/ref=sr_1_32?crid=2W72KX37PBXF&keywords=fridges&qid=1705780824&sprefix=%2Caps%2C311&sr=8-32 189 Amazon
908 215 L, 4 Star, 19,990 https://m.media-amazon.com/images/I/71p5BgL+QnL._AC_UY218_.jpg /Samsung-Direct-Cool-Digi-Touch-Refrigerator-RR23C2F24NJ/dp/B0BXDHNT6D/ref=sr_1_45?crid=2W72KX37PBXF&dib=eyJ2IjoiMSJ9.ZUIMy6qYiolbIhbxxpmBBZEyAGgEPwHt2L9MsBkcZQ3zHM6FxtxbztppbddB0x_rYR6j2Cl1jV3U-eJMjkx6GxBkEefGvKo-iH6yU2P6EJTomKuvapK9zkx-aXwOomgOoRNaOisPPqRPXa626xuv7U-VtwbEV8RmP5idsBaTBZ61VFcAyVvL10MClLIOg5Er83Kh-Z_T8pJWslZ8hL31a0bKNljtrBt2a6e5yyfqrd8.6bVTfdw8q7uk2oLyM_KHn-RkAlVmrPGZhrBSHHIm0mU&dib_tag=se&keywords=fridges&qid=1705780825&sprefix=%2Caps%2C311&sr=8-45 215 Amazon
891 Havells 93 L 1 10,990 https://m.media-amazon.com/images/I/61V6JmLOTNL._AC_UY218_.jpg /Lloyd-Havells-Direct-Cool-Refrigerator-GLDC111CBST1GC/dp/B0CD5YFPJ9/ref=sr_1_34?crid=2W72KX37PBXF&keywords=fridges&qid=1705780824&sprefix=%2Caps%2C311&sr=8-34 Havells Amazon
1045 178L 3Star Direct Cool 13,990 https://m.media-amazon.com/images/I/71eslqmWmCL._AC_UY218_.jpg /LLYOD-Direct-Single-Refrigerator-BLUE-GLDC193SCBT4JC/dp/B0C1RZ753S/ref=sr_1_146?crid=2W72KX37PBXF&keywords=fridges&qid=1705780833&sprefix=%2Caps%2C311&sr=8-146 178L Amazon
1078 Lloyd 255 L 3 20,50019,000 https://m.media-amazon.com/images/I/619jJfF4+WL._AC_UY218_.jpg /Lloyd-Inverter-Refrigerator-GLDF273SSWT2PB-Stellata/dp/B0914M5YCD/ref=sr_1_167_mod_primary_new?crid=2W72KX37PBXF&keywords=fridges&qid=1705780835&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sprefix=%2Caps%2C311&sr=8-167 Lloyd Amazon
993 223L 3 Star Inverter 20,200 https://m.media-amazon.com/images/I/71VpuPTDn2L._AC_UY218_.jpg /Samsung-Direct-Cool-Refrigerator-RR24C2823CU-NL/dp/B0BXDHK79G/ref=sr_1_106?crid=2W72KX37PBXF&dib=eyJ2IjoiMSJ9.CzJq9yNO2bZ8cAo44acFw8YmOOaWGnc-E3O_oPiV4sq3CyAY7trHdmj84440p1JTbDWPiFcrAve7gF__HcDpp4WuPd8xzxvyTWjNDPpuMQIhBU7Jwx_f1Mk-qKRr1yQAjuJhGrr_T089mOdiuhO6p4yeeFyqccbbbwW1d0TkQ3m0gFO_koYDdtFdhor4qGRtK8b4ESTBNtGv3lEu0DsoBh80r6eTx-3PeupOJ_wpKyA.yPJYJIgFEGuBdwHvAwi3yt781W39eFumyuHW0cqGq5I&dib_tag=se&keywords=fridges&qid=1705780830&sprefix=%2Caps%2C311&sr=8-106 223L Amazon
1035 189L 5 Star Inverter 17,994 https://m.media-amazon.com/images/I/619xuNVks4L._AC_UY218_.jpg /Samsung-Direct-Cool-Refrigerator-RR21C2H25DX-HL/dp/B0BXDK5FKL/ref=sr_1_136?crid=2W72KX37PBXF&keywords=fridges&qid=1705780833&sprefix=%2Caps%2C311&sr=8-136 189L Amazon
1037 246L 3 Star Inverter 24,600 https://m.media-amazon.com/images/I/71CQUXZ-5XL._AC_UY218_.jpg /Samsung-Direct-Cool-Refrigerator-RR26C3893CU-HL/dp/B0BXDM5J2N/ref=sr_1_138?crid=2W72KX37PBXF&keywords=fridges&qid=1705780833&sprefix=%2Caps%2C311&sr=8-138 246L Amazon
1154 220 L 3 Star 33999 https://m.media-amazon.com/images/I/61030eF48ZL._AC_UY218_.jpg /Haier-Single-Refrigerator-Technology-HRD-2203PMC/dp/B0B8ZNFV6K/ref=sr_1_225?crid=2W72KX37PBXF&keywords=fridges&qid=1705780838&sprefix=%2Caps%2C311&sr=8-225 220 Amazon
882 223 L, 3 Star, 18,690 https://m.media-amazon.com/images/I/61bPKSegaGL._AC_UY218_.jpg /Samsung-Inverter-Refrigerator-RR24C2Z23CR-NL/dp/B0BR3VLL5C/ref=sr_1_25?crid=2W72KX37PBXF&keywords=fridges&qid=1705780824&sprefix=%2Caps%2C311&sr=8-25 223 Amazon
1218 Haier Refrigerator DC 185 12,990 https://m.media-amazon.com/images/I/41O6ryJU9HL._AC_UY218_.jpg /Haier-Refrigerator-Single-Rating-HRD-2052BBR-P/dp/B0C8BFQG3K/ref=sr_1_271?crid=2W72KX37PBXF&keywords=fridges&qid=1705780841&sprefix=%2Caps%2C311&sr=8-271 Haier Amazon
1041 234 L 3 Star 17,490 https://m.media-amazon.com/images/I/61oib5Z4XgL._AC_UY218_.jpg /Godrej-Refrigerator-EDGEPRO-240C-TDF/dp/B0CCYHRMYY/ref=sr_1_142?crid=2W72KX37PBXF&keywords=fridges&qid=1705780833&sprefix=%2Caps%2C311&sr=8-142 234 Amazon
933 Midea 93 L Direct 10,490 https://m.media-amazon.com/images/I/8128smfBXmL._AC_UY218_.jpg /Midea-Direct-Single-Refrigerator-MDRD142FGF03/dp/B08XBC1D2P/ref=sr_1_64?crid=2W72KX37PBXF&keywords=fridges&qid=1705780826&sprefix=%2Caps%2C311&sr=8-64 Midea Amazon
956 Whirlpool 184 Litre 3 15,449 https://m.media-amazon.com/images/I/41mIxA1tkPL._AC_UY218_.jpg /Whirlpool-Direct-Single-Refrigerator-Steel-Z/dp/B0C3D4YDZ8/ref=sr_1_81?crid=2W72KX37PBXF&keywords=fridges&qid=1705780827&sprefix=%2Caps%2C311&sr=8-81 Whirlpool Amazon
1117 240 L 2 Star 20,990 https://m.media-amazon.com/images/I/71n3gFbqVrL._AC_UY218_.jpg /sspa/click?ie=UTF8&spc=MTo0MDMzMDU5ODA3NDg0MDE5OjE3MDU3ODA4Mzc6c3BfYXRmX25leHQ6MzAwMDY3OTEzMDk1NzMyOjowOjo&url=%2FHaier-Double-Refrigerator-HEF-252EGS-P-Silver%2Fdp%2FB0BTHLGVQ6%2Fref%3Dsr_1_194_sspa%3Fcrid%3D2W72KX37PBXF%26dib%3DeyJ2IjoiMSJ9.XXKSxcAI_Qr3RZGwhCD35I5al9hqowbsQjzVYkfwKbLhHzR87kbqyMUbqU88GKRPsjF96yx3XWmYQQSS5fYs57oLj_darV1rZVBXSRkc7UGC8l4398AuS2gCw2qYgGAWkBhmncKN4AnE8OoEG4TW6usdjLTz2mabTjrJF1XadW99QdguJ6U4-PiwUgkA58uCihJIDbOAN0LiS3sz33-yow1xNYU-iuZYjxrdn2LZZvo.zVP_Ien76qATv6EsPhUyeLYvL2pw0rPHLNMIcMFAxR4%26dib_tag%3Dse%26keywords%3Dfridges%26qid%3D1705780837%26sprefix%3D%252Caps%252C311%26sr%3D8-194-spons%26sp_csd%3Dd2lkZ2V0TmFtZT1zcF9hdGZfbmV4dA%26psc%3D1 240 Amazon
1223 LLOYD - Refrigerator Single 14,900 https://m.media-amazon.com/images/I/51Hj5oqJfjL._AC_UY218_.jpg /Havells-Havells-LLOYD-Refrigerator-Begonia-GLDC213SBWT1PB/dp/B0BR744XV1/ref=sr_1_276?crid=2W72KX37PBXF&keywords=fridges&qid=1705780841&sprefix=%2Caps%2C311&sr=8-276 LLOYD Amazon
953 Samsung 215 L, 4 19,990 https://m.media-amazon.com/images/I/71p5BgL+QnL._AC_UY218_.jpg /Samsung-Direct-Cool-Digi-Touch-Refrigerator-RR23C2F24NJ/dp/B0BXDHNT6D/ref=sr_1_78?crid=2W72KX37PBXF&keywords=fridges&qid=1705780827&sprefix=%2Caps%2C311&sr=8-78 Samsung Amazon
996 343 L 3 Star 44,990 https://m.media-amazon.com/images/I/61dxco4xGvL._AC_UY218_.jpg /LG-Frost-Free-Refrigerator-GL-T382TPZX-Convertible/dp/B0C1P4HHT5/ref=sr_1_109?crid=2W72KX37PBXF&dib=eyJ2IjoiMSJ9.CzJq9yNO2bZ8cAo44acFw8YmOOaWGnc-E3O_oPiV4sq3CyAY7trHdmj84440p1JTbDWPiFcrAve7gF__HcDpp4WuPd8xzxvyTWjNDPpuMQIhBU7Jwx_f1Mk-qKRr1yQAjuJhGrr_T089mOdiuhO6p4yeeFyqccbbbwW1d0TkQ3m0gFO_koYDdtFdhor4qGRtK8b4ESTBNtGv3lEu0DsoBh80r6eTx-3PeupOJ_wpKyA.yPJYJIgFEGuBdwHvAwi3yt781W39eFumyuHW0cqGq5I&dib_tag=se&keywords=fridges&qid=1705780830&sprefix=%2Caps%2C311&sr=8-109 343 Amazon
6133 Haier 190 L Direct ₹15,490 https://rukminim2.flixcart.com/image/312/312/xif0q/refrigerator-new/7/t/g/-original-imagrt58ahjdmdwm.jpeg?q=70 /haier-190-l-direct-cool-single-door-4-star-refrigerator-base-drawer/p/itm2d9dd48541891?pid=RFRGHQAFZSRKU86P&lid=LSTRFRGHQAFZSRKU86PGGM2GR&marketplace=FLIPKART&q=fridges&store=j9e%2Fabm%2Fhzg&srno=s_1_20&otracker=search&otracker1=search&fm=organic&iid=5e2011c2-0442-4d95-a468-b3db82eba3a6.RFRGHQAFZSRKU86P.SEARCH&ppt=None&ppn=None&ssid=s7sqv2abr40000001705835578084&qH=9f6f8a5586e56d28 Haier Flipkart

In [38]:
# def recommend(title):
#     if title not in new_df['title'].values:
#         print(f"Title '{title}' not found in the DataFrame.")
#         return
#     product_index = new_df[new_df['title'] == title].index[0]
#     print(product_index)
#     # rest of your code
# recommend('ASUS ROG Strix G15')

In [39]:
print(new_df.iloc[99])

title                                      15 Laptop, Intel Core
description    Laptop Intel Core i51135G7 Processor 8GB DDR4 ...
brand                                                         15
platform                                                  Amazon
type                                                     Laptops
tags           15 laptop, intel corelaptop intel core i51135g...
Name: 99, dtype: object

In [40]:
print(new_df.iloc[50])

title                                HP [SmartChoice] 15s, Ryzen
description    SmartChoice 15s Ryzen 55500U 16GB RAM512GB SSD...
brand                                                         HP
platform                                                  Amazon
type                                                     Laptops
tags           hp [smartchoice] 15s, ryzensmartchoic 15 ryzen...
Name: 50, dtype: object

In [41]:
print(len(new_df))

12066

In [42]:
# Remove duplicate rows and keep only the first occurrence
df_2 = new_df.drop_duplicates(keep='first')

# Display the DataFrame without duplicates
print(df_2)
print(len(df_2))

                                    title  \
0                Victus Gaming Laptop AMD
1                     Laptop 15, 12th Gen
2       (Refurbished) Lenovo ThinkPad 7th
3                    Aspire Lite 12th Gen
4                   15 Laptop, Intel Core
...                                   ...
10572   Panasonic Convertible 7-in-1 with
11701                          LG 1 Ton 5
11702     IFB FastCool Convertible 8-in-1
11703             Hitachi Ice Clean Frost
11704  SAMSUNG Convertible 5-in-1 Cooling

                                             description        brand  \
0      Gaming Laptop AMD Ryzen 7 7840HS 409 cm 161inc...       Victus
1      15 12th Gen i31215U 156inch 396 cm FHD AntiGla...       Laptop
2      Lenovo ThinkPad 7th Gen Intel Core i5 Thin  Li...  Refurbished
3      Lite 12th Gen Intel Core i51235U Thin and Ligh...       Aspire
4      Laptop Intel Core i51135G7 Processor 8GB 1TB25...           15
...                                                  ...          ...
10572  Annual Power Usage 52315 kWhRoom Size 90 sqft ...    Panasonic
11701  Annual Power Usage 5212 WRoom Size 90 sqft or ...           LG
11702  Annual Power Usage 124828 kWhRoom Size 151  20...          IFB
11703  Annual Power Usage 1251 kWhRoom Size 151  200 ...      Hitachi
11704  Annual Power Usage 114522 kWhRoom Size 151  20...      SAMSUNG

       platform     type                                               tags
0        Amazon  Laptops  victu game laptop amdgam laptop amd ryzen 7 78...
1        Amazon  Laptops  laptop 15, 12th gen15 12th gen i31215u 156inch...
2        Amazon  Laptops  (refurbished) lenovo thinkpad 7thlenovo thinkp...
3        Amazon  Laptops  aspir lite 12th genlit 12th gen intel core i51...
4        Amazon  Laptops  15 laptop, intel corelaptop intel core i51135g...
...         ...      ...                                                ...
10572  Flipkart  Laptops  panason convert 7-in-1 withannu power usag 523...
11701  Flipkart  Laptops  lg 1 ton 5annual power usag 5212 wroom size 90...
11702  Flipkart  Laptops  ifb fastcool convert 8-in-1annu power usag 124...
11703  Flipkart  Laptops  hitachi ice clean frostannu power usag 1251 kw...
11704  Flipkart  Laptops  samsung convert 5-in-1 coolingannu power usag ...

[1726 rows x 6 columns]
1726

In [43]:
# Assuming 'similarity' is your similarity matrix
result = sorted(enumerate(similarity[0]), reverse=True, key=lambda x: x[1])

# Filter out tuples with similarity score 1.0
filtered_result = [(index, score) for index, score in result if score < 1.0]

# Take the top 100 tuples
top_100 = filtered_result[:100]

# Print the top 100 tuples
print(top_100)

[(0, 0.9999999999999998), (123, 0.8853648783083362), (234, 0.50709255283711), (388, 0.47387910220727386), (338, 0.4507489358552089), (191, 0.3944053188733077), (346, 0.38502677054341), (104, 0.37527767497325676), (83, 0.36018013511259855), (205, 0.3508232077228116), (259, 0.3508232077228116), (201, 0.34442336009683217), (289, 0.34442336009683217), (97, 0.33946736991660215), (326, 0.3380617018914066), (413, 0.3347193406976015), (38, 0.33333333333333326), (43, 0.33333333333333326), (321, 0.32791291789197646), (377, 0.32791291789197646), (61, 0.32274861218395134), (122, 0.32274861218395134), (215, 0.32274861218395134), (37, 0.3222516933177448), (96, 0.3178208630818641), (184, 0.3136462716817105), (288, 0.3136462716817105), (144, 0.31311214554257466), (179, 0.31311214554257466), (314, 0.31311214554257466), (366, 0.31052950170405935), (271, 0.30626532551433744), (415, 0.30626532551433744), (183, 0.30512857662936466), (270, 0.30512857662936466), (309, 0.30512857662936466), (353, 0.30512857662936466), (375, 0.30512857662936466), (128, 0.3045547950507524), (148, 0.3045547950507524), (115, 0.30429030972509225), (411, 0.29999999999999993), (10, 0.29814239699997197), (203, 0.29235267310234303), (225, 0.29235267310234303), (239, 0.29235267310234303), (41, 0.2921186973360886), (294, 0.2904737509655562), (382, 0.2904737509655562), (82, 0.28603877677367767), (283, 0.28603877677367767), (337, 0.28603877677367767), (281, 0.2810913475705226), (34, 0.2777460299317654), (59, 0.2777460299317654), (194, 0.27602622373694163), (226, 0.27602622373694163), (227, 0.27602622373694163), (256, 0.27602622373694163), (322, 0.27602622373694163), (334, 0.27602622373694163), (420, 0.27602622373694163), (265, 0.2666666666666666), (287, 0.2666666666666666), (331, 0.2666666666666666), (397, 0.2666666666666666), (422, 0.2666666666666666), (266, 0.25980762113533157), (347, 0.25980762113533157), (206, 0.2566196768304905), (254, 0.2566196768304905), (272, 0.2566196768304905), (299, 0.2566196768304905), (354, 0.25425669046549126), (369, 0.25425669046549126), (156, 0.2506402059138015), (238, 0.2506402059138015), (305, 0.2506402059138015), (189, 0.24688535993934702), (235, 0.24688535993934702), (324, 0.24688535993934702), (46, 0.2459549291242073), (398, 0.2459549291242073), (40, 0.2449489742783178), (379, 0.2449489742783178), (389, 0.2434322477800738), (182, 0.24152294576982392), (12, 0.24012009007506568), (78, 0.23904572186687872), (345, 0.23904572186687872), (410, 0.23904572186687872), (279, 0.2373222262672836), (320, 0.2373222262672836), (161, 0.2338821384818744), (301, 0.2338821384818744), (24, 0.23354968324845687), (50, 0.23354968324845687), (135, 0.23354968324845687), (267, 0.23354968324845687), (298, 0.23354968324845687)]

In [44]:
# def recommend(product):
#     product_index = new_df[new_df['product_name'] == product].index[0]
#     distances = similarity[product_index]
#     products_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:10]
#     for i in products_list:
#         print(new_df.iloc[i[0]].product_name)